#!/bin/bash

#SBATCH --job-name=orient_fov_{{ index }}
#SBATCH --partition aics_cpu_general
#SBATCH --mem 8G
#SBATCH --output /allen/aics/assay-dev/MicroscopyOtherData/Viana/projects/assay-dev-cardio/jinja2/log/orient_fov_{{ index }}.out

srun /home/matheus.viana/anaconda3/envs/parallel/bin/python /allen/aics/assay-dev/MicroscopyOtherData/Viana/projects/assay-dev-cardio/orientation.py --fov {{ index }}